<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodtraceability.enterprise.mapper.SalesOrderMapper">

    <select id="selectByOrderCode" resultType="com.foodtraceability.enterprise.entity.SalesOrder">
        SELECT * FROM t_sales_order WHERE sales_order_code = #{code} AND is_deleted = 0
    </select>

    <select id="selectByBuyerName" resultType="com.foodtraceability.enterprise.entity.SalesOrder">
        SELECT * FROM t_sales_order WHERE buyer_enterprise_name = #{buyerName} AND is_deleted = 0 ORDER BY create_time DESC
    </select>

    <select id="selectByOrderStatus" resultType="com.foodtraceability.enterprise.entity.SalesOrder">
        SELECT * FROM t_sales_order WHERE order_status = #{status} AND is_deleted = 0 ORDER BY create_time DESC
    </select>

</mapper>
