<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodtraceability.enterprise.mapper.SalesSupplementMapper">

    <resultMap id="BaseResultMap" type="com.foodtraceability.enterprise.entity.SalesSupplement">
        <id column="supplement_id" property="supplementId"/>
        <result column="supplement_code" property="supplementCode"/>
        <result column="trace_batch_id" property="traceBatchId"/>
        <result column="trace_batch_no" property="traceBatchNo"/>
        <result column="terminal_code" property="terminalCode"/>
        <result column="terminal_name" property="terminalName"/>
        <result column="sales_company" property="salesCompany"/>
        <result column="sales_batch_no" property="salesBatchNo"/>
        <result column="temperature" property="temperature"/>
        <result column="humidity" property="humidity"/>
        <result column="storage_method" property="storageMethod"/>
        <result column="light_condition" property="lightCondition"/>
        <result column="shelf_life" property="shelfLife"/>
        <result column="location_code" property="locationCode"/>
        <result column="quantity" property="quantity"/>
        <result column="inbound_time" property="inboundTime"/>
        <result column="operator" property="operator"/>
        <result column="supplement_status" property="supplementStatus"/>
        <result column="data_hash" property="dataHash"/>
        <result column="chain_hash" property="chainHash"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="selectByTraceBatchNo" resultMap="BaseResultMap">
        SELECT * FROM t_sales_supplement WHERE trace_batch_no = #{batchNo} AND is_deleted = 0
    </select>

    <select id="selectByTerminalCode" resultMap="BaseResultMap">
        SELECT * FROM t_sales_supplement WHERE terminal_code = #{code} AND is_deleted = 0
    </select>

    <select id="selectBySupplementStatus" resultMap="BaseResultMap">
        SELECT * FROM t_sales_supplement WHERE supplement_status = #{status} AND is_deleted = 0 ORDER BY create_time DESC
    </select>

</mapper>